* {
    margin: 0 auto;
}

nav {
    background-color: rgba(8, 247, 20, 0.63);
}

section{
    display: flex;
}

/* LIST OF CONTACTS */

#listContacts {
    background-color: rgba(0, 38, 255, 0.521); 
    width: 35%;
    height: 95dvh;
}

.contactListItem {
    background-color: rgba(255, 154, 107, 0.521);
    border: 2px solid black;
    
    padding: .2rem;
    margin-top: .5rem;

    height: 3rem;
}

.contactListPhoto {
    width: 15%;
    height: 100%;
}

/* CONTACT INFO BLOCK */

#contactInfo {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color: rgba(0, 119, 255, 0.521);
    width: 60%;
    height: 95dvh;
}

#contactInfoGOne{
    display: flex;
    width: 100%;
    background-color: blue ;

    div{
        width: auto;
    }
}

#contactInfoGTwo{
    display: flex;
    justify-content: space-between;
}

.contactInfoPhoto {
    width: 5%;
}

#contactInfoHeading{
    width: 100%;
}

/* FIELDS */
.view-only {
    background-color: rgba(255, 255, 255, 0.432);
    border: none;
    font-size: 1rem;
    padding: .1rem;

    field-sizing: content;
    min-width: 90%;
    max-width: 100%;
}

.telItem, .emailItem, .socialMediaItem, .adressItem, #contactInfoNameAndAge {
    border: 2px solid black;
    padding: .2rem;
}