<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="view.css">
    <title>Document</title>
</head>

<body>
    <!-- Navbar. Space Between nos estilos dps -->
    <section>
        <nav> <div> Olá, <b> User </b> </div> <div> <!-- Icone --> </div></nav>
        <!-- Fazer um loop que renderize os elementos dos contatos com base nas informações que o controller dá. Pensando por esse lado dá até pra fazer com JS. :O-->

        <!-- Bom, no MVC, a view n tem contato com o model, o controller faz o intermédio de tudo. Então acho que o controller vai receber os dados do model e processar de modo que seja apresentável na view-->
        <div id="listContacts">
            <div class="contactListItem" id="1">
                <img class="contactListPhoto"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4ECowJKykF42o6gD9CpzSM-4sXy7vadCAOb3OxT165g&s=10">
                <span class="contactName">João Pedro</span>

            </div>
            <div class="contactListItem" id="2">
                <!-- Na verdade a section é o agrupamento dos dois blocos, e as duas divs são os blocos, entao teriamos apenas uma section-->
                <!-- Obrigado por explicar :] -->

                <img class="contactListPhoto"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4ECowJKykF42o6gD9CpzSM-4sXy7vadCAOb3OxT165g&s=10">
                <span class="contactListName">Kauã Padin</span>
            </div>
        </div>

        <!-- Quando a pessoa clicar em algum contato...
        
            - Como a lista de contatos do whatsapp na esquerda, e um bloco à direita. que ao invés de ser conversas, seria as informações assim como no esboço que eu te mandei no google cha :O Ja volto OK
            Aí nesse bloco de Read teriam as ações possíveis de CRUD: Update, Remove
            Na própria lista poderia ter a opção de adicionar um contato novo (Create)
            Sim, mas de modo não tão explicito, mas ao clicar em um botão de três pontinhos
            
            Como faríamos para um lado existir a lista, e do outro existir as informações adicionais?
            Bom, usando o id do link que referencia um objeto
            -->

        <div id="contactInfo">
            <!-- Heading Bar -->
            <div id="contactInfoHeading">
                <img class="contactInfoPhoto"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4ECowJKykF42o6gD9CpzSM-4sXy7vadCAOb3OxT165g&s=10">
                <span class="contactInfoName">Zé</span>
            </div>

            <!-- <div id="contactInfoGOne"> Primeiro grupo de informações. Este contém telefone, e-mail e redes socias. GOne significa Group One -->
                <!-- Telephones -->
                <div id="contactInfoTel">
                    <h3> Telefones </h3>
                    <div class="telItem">
                        <div>17 98835-8054</div>
                        <div>Obs:</div>
                    </div>
                    <div class="telItem">
                        <div>17 98835-8054</div>
                        <div>Obs:</div>
                    </div>
                </div>

                <!-- Emails -->
                <div id="contactInfoEmail">
                    <h3> E-mails </h3>
                    <div class="emailItem">
                        <div>wrong.email@gmail.com</div>
                        <div>Obs: Email novo</div>
                    </div>
                    <div class="emailItem">
                        <div>right.email@gmail.net</div>
                        <div>Obs: Email velho</div>
                    </div>
                </div>

                <!-- Social Media -->
                <div id="contactInfoSocialMedia">
                    <h3> Redes Sociais </h3>
                    <div class="socialMediaItem">
                        <div>Nome: josepeddro</div>
                        <div>Link: linkedin.com/owo</div>
                        <div>Obs: Rede para negócios</div>
                    </div>
                    <div class="socialMediaItem">
                        <div>Nome: josepeddro</div>
                        <div>Link: linkedin.com/owo</div>
                        <div>Obs: Rede para negócios</div>
                    </div>
                </div>
            <!-- </div> ContactInfoGOne -->

                <!-- <div id="contactInfoGTwo"> -->
                    <!-- Nomes e outros-->
                    <div id="contactInfoNameAndAge">
                        <h3>Dados Pessoais</h3>
                        <div class="contactInfoItem">
                            <div> <b> Nome Completo: </b> José Pedro </div>
                            <div> <b> Idade: </b> 24 </div>
                        </div>
                    </div>
                    <div id="contacInfoAdress">
                        <h3> Endereços </h3>
                        <div class="adressItem">
                            <div>Logradouro: Linux</div>
                            <div>Numero: 3145</div>
                            <div>Cidade: Nova Vila Velha</div>
                            <div>Cep: 15804-080</div>
                            <div>Complemento: Barril</div>
                            <div>Obs: Barril pintado de verde escuro</div>
                            <div>Ponto de Referência: Vila do Chaves</div>
                        </div> <!-- adressItem-->
                    </div> <!-- ContactAdress-->
                <!-- </div> ContactInfoGTwo -->
        </div> <!-- ContactInfo -->
    </section> <!-- Grupo dos Blocos -->
</body>

</html>