* {
    margin: 0 auto;
}

nav {
    background-color: rgba(8, 247, 20, 0.63);
}

section{
    display: flex;
}

/* LIST OF CONTACTS */

#listContacts {
    background-color: rgba(0, 38, 255, 0.521); 
    width: 35%;
    height: 95dvh;
}

.contactListItem {
    background-color: rgba(255, 154, 107, 0.521);
    border: 2px solid black;
    
    padding: .2rem;
    margin-top: .5rem;

    height: 3rem;
}

.contactListPhoto {
    width: 15%;
    height: 100%;
}

/* CONTACT INFO BLOCK */

#contactInfo {
    background-color: rgba(0, 119, 255, 0.521);
    width: 60%;
    height: 95dvh;
    align-items: center;

    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
}

#contactInfoGOne{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#contactInfoGTwo{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.contactInfoPhoto {
    width: 10%;
    height: 10%;
}