<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="view.css">
    <title>Document</title>
</head>

<body>
    <nav> <span> Olá, <b> User </b> </span> <span> <!-- Icone --> </span></nav>
    <!-- Navbar. Space Between nos estilos dps -->
    <section>
        <!-- Fazer um loop que renderize os elementos dos contatos com base nas informações que o controller dá. Pensando por esse lado dá até pra fazer com JS. :O-->

        <!-- Bom, no MVC, a view n tem contato com o model, o controller faz o intermédio de tudo. Então acho que o controller vai receber os dados do model e processar de modo que seja apresentável na view-->
        <div id="listContacts">
            <div class="contactListItem" id="1">
                <img class="contactListPhoto"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4ECowJKykF42o6gD9CpzSM-4sXy7vadCAOb3OxT165g&s=10">
                <span class="contactName">João Pedro</span>

            </div>
            <div class="contactListItem" id="2">
                <!-- Na verdade a section é o agrupamento dos dois blocos, e as duas divs são os blocos, entao teriamos apenas uma section-->
                <!-- Obrigado por explicar :] -->

                <img class="contactListPhoto"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4ECowJKykF42o6gD9CpzSM-4sXy7vadCAOb3OxT165g&s=10">
                <span class="contactListName">Kauã Padin</span>
            </div>
        </div>

        <!-- Quando a pessoa clicar em algum contato...
        
            - Como a lista de contatos do whatsapp na esquerda, e um bloco à direita. que ao invés de ser conversas, seria as informações assim como no esboço que eu te mandei no google cha :O Ja volto OK
            Aí nesse bloco de Read teriam as ações possíveis de CRUD: Update, Remove
            Na própria lista poderia ter a opção de adicionar um contato novo (Create)
            Sim, mas de modo não tão explicito, mas ao clicar em um botão de três pontinhos
            
            Como faríamos para um lado existir a lista, e do outro existir as informações adicionais?
            Bom, usando o id do link que referencia um objeto
            -->

        <div id="contactInfo">
            <!-- Heading Bar -->
            <div id="contactInfoHeading">
                <img class="contactInfoPhoto"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4ECowJKykF42o6gD9CpzSM-4sXy7vadCAOb3OxT165g&s=10">
                <span class="contactInfoName">Zé</span>
            </div>

            <div id="contactInfoGOne"> <!-- Primeiro grupo de informações. Este contém telefone, e-mail e redes socias. GOne significa Group One-->
                <!-- Telephones -->
                <div id="contactInfoTel">
                    <h5> Telefones </h5>
                    <div class="telItem">
                        <input class="view-only" type="text" value="Telefone pessoal" readonly>
                        <input class="view-only" type="text" value="17 98835-8054" readonly>
                    </div>
                    <div class="telItem">
                        <input class="view-only" type="text" value="Telefone Profissional" readonly>
                        <input class="view-only" type="text" value="17 98835-8054" readonly>
                    </div>
                </div>

                <!-- Emails -->
                <div id="contactInfoEmail">
                    <h5> E-mails </h5>
                    <div class="emailItem">
                        <input class="view-only" type="text" value="Email novo" readonly>
                        <input class="view-only" type="text" value="wrong.email@gmail.com" readonly>
                    </div>
                    <div class="emailItem">
                        <input class="view-only" type="text" value="Email Velho" readonly>
                        <input class="view-only" type="text" value="right.email@gmail.com" readonly>
                    </div>
                </div>

                <!-- Social Media -->
                <div id="contactInfoSocialMedia">
                    <h5> Redes Sociais </h5>
                    <div class="socialMediaItem">
                        <span>Nome: </span>
                        <input class="view-only" type="text" value="josepeddro" readonly>
                        <span>Link: </span>
                        <input class="view-only" type="text" value="linkedin.com/owo" readonly>
                        <span>Obs: </span>
                        <input class="view-only" type="text" value="Rede para negócios" readonly>
                    </div>
                    <div class="socialMediaItem">
                        <span>Nome: </span>
                        <input class="view-only" type="text" value="josepeddro" readonly>
                        <span>Link: </span>
                        <input class="view-only" type="text" value="linkedin.com/owo" readonly>
                        <span>Obs: </span>
                        <input class="view-only" type="text" value="Rede para negócios" readonly>
                    </div>
                </div>
            </div> <!-- ContactInfoGOne -->

                <div id="contactInfoGTwo">
                    <!-- Nomes e outros-->
                    <div id="contactInfoNameAndAge">
                        <span> <b> Nome Completo: </b> </span>
                        <input class="view-only" type="text" value="José Pedro" readonly>
                        <span> <b> Idade: </b> </span>
                        <input class="view-only" type="text" value="24" readonly>
                    </div>
                    <div id="contacInfoAdress">
                        <h5> Endereços </h5>
                        <div class="adressItem">
                            <div>
                                Logradouro: 
                                <input class="view-only" type="text" value="Linux" readonly>
                            </div>
                            <div>
                                Numero: 
                                <input class="view-only" type="text" value="3145" readonly>
                            </div>
                            <div>
                                Cidade: 
                                <input class="view-only" type="text" value="Nova Vila Velha" readonly>
                            </div>
                            <div>
                                Cep: 
                                <input class="view-only" type="text" value="15804-080" readonly>
                            </div>
                            <div>
                                Complemento: 
                                <input class="view-only" type="text" value="Barril" readonly>
                            </div>
                            <div>
                                Obs: 
                                <input class="view-only" type="text" value="Barril pintado de verde escuro" readonly>
                            </div>
                            <div>
                                Ponto de Referência: 
                                <input class="view-only" type="text" value="Vila do Chaves" readonly>
                            </div>
                        </div> <!-- adressItem-->
                    </div> <!-- ContactAdress-->
                </div> <!-- ContactInfoGTwo -->
        </div> <!-- ContactInfo -->
    </section> <!-- Grupo dos Blocos -->
</body>

</html>